html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: -webkit-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

#preview {
  width: 80%;
  font-size: 8em;
  color: #222;
}

#preview:empty:before {
  content: attr(placeholder);
  color: #777;
}

#preview:focus {
  outline: 0 solid transparent;
}